<%- contentFor('body') %>

<div id="page-wrapper">
	<div class="container-fluid">
		<h2>List of Inactive and Request Account</h2>
		<div class="row">

			<div class="ccol-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Activate the varified institute or surveyor!</h3>
						<form class="form-inline">
							<div class="form-group">
								<button type="button" class="btn btn-default" id="institute">List of Institute</button>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-default" id="surveyor">List of Serveyor</button>
							</div>
							
							
						</form>

						
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped" id="poorTable">
								<thead>
									<tr>
										<th>id</th>
										<th>Name</th>										
										<th>Address</th>
										<th>Account Status</th>
										


									</tr>
								</thead>
								<tbody id="tableBody">

									<% for(var i=0; i<data.length; i++) { %>


									<tr>
										<td><%=i%>:<%=data[i]._id%></td>
										<td><%=data[i].name%><br>Phone:<%=data[i].phone%><br>
											userName:<%=data[i].userName%><br>
											Pass:<%=data[i].password%>


										</td>
										
										<td>Div:<%=data[i].division%><br>

											Dist:<%=data[i].district%>,
											P.S:<%=data[i].ps%>,<br>
											Post Code:<%=data[i].postCode%><br>
											
											Email: <%=data[i].email%>

										</td>
										

										<td>Status:<%=data[i].ac_status%></td>

										
									</tr>

									<%} %>




								</tbody>
							</table>
						</div>
						<div class="text-right">
							<a href="#">Go to next Page <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	$("#surveyor").click(function(event) {
		$("#tableBody").empty();
		
		$.ajax({
			url: '/activation/api/surveyor',
			type: 'GET',
			dataType: 'json',

		})
		.done(function(result) {

			
			for (var i = 0; i < result.length; i++) {
				var table_row = $("<tr></tr>");
				
				var id = $("<td>"+i+":"+result[i]._id+"</td>");
				var name = $("<td>"+result[i].name+"<br> Phone:"+result[i].phone +"<br>UserName:"+result[i].userName+"<br> password:"+result[i].password+ "</td>");
				


				var address = $("<td>Divi:"+result[i].division +"<br> Dist:"+result[i].district +"<br>P.S:"+result[i].ps+"<br> Post Code:"+result[i].postCode+"<br>Email:"+result[i].email+"</td>");



				var ac_status = $("<td>Status:"+result[i].ac_status+"</td>");

				table_row.append(id);
				table_row.append(name);

				table_row.append(address);
				table_row.append(ac_status);
				$("#tableBody").append(table_row);
				
			}



			


		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});

	});

</script>



<script type="text/javascript">
	
	$("#institute").click(function(event) {
		$("#tableBody").empty();
		
		$.ajax({
			url: '/activation/api/institute',
			type: 'GET',
			dataType: 'json',

		})
		.done(function(result) {

			
			for (var i = 0; i < result.length; i++) {
				var table_row = $("<tr></tr>");
				
				var id = $("<td>"+i+":"+result[i]._id+"</td>");
				var name = $("<td>"+result[i].name+"<br> Phone:"+result[i].phone +"<br>UserName:"+result[i].userName+"<br> password:"+result[i].password+ "</td>");
				


				var address = $("<td>Divi:"+result[i].division +"<br> Dist:"+result[i].district +"<br>P.S:"+result[i].ps+"<br> Post Code:"+result[i].postCode+"<br>Email:"+result[i].email+"</td>");



				var ac_status = $("<td>Status:"+result[i].ac_status+"</td>");

				table_row.append(id);
				table_row.append(name);

				table_row.append(address);
				table_row.append(ac_status);
				$("#tableBody").append(table_row);
				
			}



			


		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});

	});
</script>