<%- contentFor('body')%>  

<!--tab one -->
<!--tab one -->

<div id="page-wrapper">

    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 own">
				<center><strong class="text-info" style="font-family:'Cooper Black'; font-size:20px"><i class="fa fa-user"></i>Institute Profile</strong></center>
			</div>
		</div>
		<br/>
		<!-- setting variables -->
		<div class="row">
			<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">

				<div>

					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i> Institute Info</a></li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Academic Info</a></li>
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> Address</a></li>

					</ul>


					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-user"></i> Institute Name</p>
										<footer><%=data[0].name%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-male"></i> Short Name</p>
										<footer><%=data[0].short_name%></footer>
									</blockquote>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-globe"></i> Web Address</p>
										<footer><%=data[0].webAddress%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-user"></i> User Name</p>
										<footer><%=data[0].userName%></footer>
									</blockquote>
								</div>
							</div>


							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-mobile-phone"></i> Mobile No.</p>
										<footer><%=data[0].phone%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-envelope"></i> Email Address</p>
										<footer><%=data[0].email%></footer>
									</blockquote>
								</div>							
							</div>


						</div>	<!-- end tab panel -->					

						<!-- tab one close -->

						<!-- tab 2 start -->

						<div role="tabpanel" class="tab-pane" id="profile">						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
									<blockquote>
										<p><i class="fa fa-certificate"></i> List of Training Name</p>
										<footer><%=data[0].training_name%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
									<blockquote>
										<p><i class="fa fa-certificate"></i> Institute Type</p>
										<footer><%=data[0].ins_type%></footer>
									</blockquote>
								</div>


							</div>

						</div>
						<!-- tab 2 closes -->

						<!-- tab three starts -->	
						<div role="tabpanel" class="tab-pane" id="messages">

							<div class="row">

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<blockquote>
										<p>
											<i class="fa fa-anchor">
											</i> 
											Address
										</p>
										<footer>
											Division&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp<%=data[0].division%><br/>District &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp<%=data[0].district%><br>P.S  &nbsp&nbsp:&nbsp<%=data[0].ps%><br>Post Code &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspWest <%=data[0].postCode%><br>									</footer>
										</blockquote>
									</div>


								</div> <!-- END ROW -->
							</div>	<!-- end tab panel -->




						</div> <!-- end tab content -->
						<!-- tab one close -->

						<!-- tab 2 start -->

					</div>
				</div>
			</div>
		</div>
	</div>

