<%- contentFor('body')%>  

<!--tab one -->
<!--tab one -->

<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 own">
				<center><strong class="text-info" style="font-family:'Cooper Black'; font-size:20px"><i class="fa fa-user"></i>My Profile</strong></center>
			</div>
		</div>
		<br/>
		<!-- setting variables -->
		<div class="row">
			
			<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">

				<div>

					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i> Pertional Info</a></li>
						<li role="presentation"><a href="#academic" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Academic Info</a></li>
						<li role="presentation"><a href="#address" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> Address</a></li>
						
					</ul>


					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-user"></i>Name</p>
										<footer><%=data[0].name%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-male"></i> Father Name</p>
										<footer><%=data[0].father_name%></footer>
									</blockquote>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-user"></i> Gender</p>
										<footer><%=data[0].gender%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-cc-amex"></i> NID</p>
										<footer><%=data[0].nid%></footer>
									</blockquote>
								</div>
							</div>

							
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-mobile-phone"></i> Mobile No.</p>
										<footer><%=data[0].phone%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-envelope"></i> Email Address</p>
										<footer><%=data[0].email%></footer>
									</blockquote>
								</div>							
							</div>


							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-magnet"></i> Religion</p>
										<footer><%=data[0].religion%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-heart-o"></i> Blod Group</p>
										<footer><%=data[0].bloadGroup%></footer>
									</blockquote>
								</div>							
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-birthday-cake"></i> Date of Birth.</p>
										<footer><%=data[0].dateOfBirth%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-home"></i> Residence</p>
										<footer><%=data[0].residence%></footer>
									</blockquote>
								</div>							
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-male"></i> Chairman.</p>
										<footer><%=data[0].localAgent%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<blockquote>
										<p><i class="fa fa-mobile-phone"></i> Phone Number</p>
										<footer><%=data[0].agent_phone%></footer>
									</blockquote>
								</div>							
							</div>


						</div>	<!-- end tab panel -->					

						<!-- tab one close -->

						<!-- tab 2 start -->

						<div role="tabpanel" class="tab-pane" id="academic">						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
									<blockquote>
										<p><i class="fa fa-certificate"></i> Degree</p>
										<footer><%=data[0].lastDegree%></footer>
									</blockquote>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
									<blockquote>
										<p><i class="fa fa-book"></i>Subject</p>
										<footer><%=data[0].subject%></footer>
									</blockquote>
								</div>



								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<blockquote>
										<p>
											<i class="fa fa-home"></i>Occupation</p>
											<footer><%=data[0].occupation%></footer>
										</blockquote>
									</div>							
								</div>

							</div>
							<!-- tab 2 closes -->

							<!-- tab three starts -->	
							<div role="tabpanel" class="tab-pane" id="address">

								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<blockquote>
											<p><i class="fa fa-anchor"></i>Division</p>
											<footer><%=data[0].division%></footer>
										</blockquote>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<blockquote>
											<p><i class="fa fa-anchor"></i> District</p>
											<footer><%=data[0].district%></footer>
										</blockquote>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<blockquote>
											<p><i class="fa fa-anchor"></i> ps</p>
											<footer><%=data[0].ps%></footer>
										</blockquote>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<blockquote>
											<p><i class="fa fa-anchor"></i> postCode</p>
											<footer><%=data[0].postCode%></footer>
										</blockquote>
									</div>
								</div>

								
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<blockquote>
											<p><i class="fa fa-anchor"></i> area</p>
											<footer><%=data[0].area%></footer>
										</blockquote>
									</div>
									
								</div>

							</div>	<!-- end tab panel -->
							<!-- tab 3 close -->

							

						</div> <!-- end tab content -->
						<!-- tab one close -->

						

					</div>
				</div>
			</div>
		</div>
	</div>

